@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #7C3AED;
  --color-dark: #111827;
  --color-light: #F9FAFB;
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}